%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
  = f.label :nickname
  %br/
  = f.text_field :nickname, autofocus: true, autocomplete: "nickname",value: session[:nickname]
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email",value: session[:email]

  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :family_name
    %br/
    = f.text_field :family_name, autofocus: true, autocomplete: "family_name"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
  .field
    = f.label :family_name_kana
    %br/
    = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana"
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"
  .field
    = f.label :birth_year
    %br/
    = f.select :birth_year, [[2000], [2005], [2010], [2015]]
  .field
    = f.label :birth_month
    %br/
    = f.select :birth_month, [[1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12]]
  .field
    = f.label :birth_day
    %br/
    = f.select :birth_day, [[5], [10], [15], [20], [25], [30]]
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
