= render 'layouts/header'
- breadcrumb :completed
= render 'layouts/breadcrumbs'

%main.container.clearfix
  .my-content
    %h2.listing-tab-head 出品した商品
    %section
      .listing-tab
        = link_to '出品中',listing_listings_path , class:"listing-tab__item",id: "listing"
        = link_to '取引中',in_progress_listings_path, class:"listing-tab__item",id: "in_progress"
        #active-tab.listing-tab__item 売却済み
        = render 'listings/shared/listings-content'
  = paginate(@items)
  = render 'mypage/shared/sidemenus/sidemenu'