= render 'layouts/header'
- breadcrumb :brand
= render 'layouts/breadcrumbs'
.categories
  %h2.categories__head ブランド一覧
  %nav.categories__level1-list
    - @brandgroups.each do |brandgroup|
      = link_to brandgroup.name, "#category-#{brandgroup.id}", class: 'categories__level1-list--link'
  -# .categories-level1-box
  -#   %ul.categories-level1-box__wrapper
  -#     = render partial: 'level1-box', collection: @categories, as: 'level1'
= render 'layouts/footer'