%ul#notification-content.mypage-content__list
  - if notification ==[]
    .mypage-content__not-found
      現在、お知らせはありません
  - else
    - notification.each do |m|
      = content_tag(:li) do
        = link_to "" do
          .mypage-content__list-item
            .mypage-content__list-img
              %img{src: "//static.mercdn.net/images/mercari_profile.png"}
            .mypage-content__list-body
              .mypage-content__list-body--text
                =m[:content]
              .mypage-content__list-body--time
                .mypage-content__list-body--time-icon.far.fa-clock
                .mypage-content__list-body--time-text
                  =m[:time]
            .mypage-content__list-body--icon.fas.fa-chevron-right
  - if request.path == '/' || request.path == '/mypage'
    - if notification != []
      = content_tag(:li) do
        = link_to notification_mypage_index_path do
          .mypage-content__go-list
            .mypage-content__go-list--text
              一覧を見る

%ul#todo-content.mypage-content__list
  - if todo ==[]
    .mypage-content__not-found
      現在、やることリストはありません
  - else
    - todo.each do |m|
      = content_tag(:li) do
        = link_to "" do
          .mypage-content__list-item
            .mypage-content__list-img
              %img{src: "//static.mercdn.net/images/mercari_profile.png"}
            .mypage-content__list-body
              .mypage-content__list-body--text
                =m[:content]
              .mypage-content__list-body--time
                .mypage-content__list-body--time-icon.far.fa-clock
                .mypage-content__list-body--time-text
                  =m[:time]
            .mypage-content__list-body--icon.fas.fa-chevron-right
  - if request.path == '/' || request.path == '/mypage'
    - if todo != []
      = content_tag(:li) do
        = link_to todo_mypage_index_path do
          .mypage-content__go-list
            .mypage-content__go-list--text
              一覧を見る