.listing-item-change-box
  = link_to "商品の編集",edit_item_path(@item), class:"btn-default btn-red"
  %p.text-center_edit-bottom or
  - if @item.trading_status_before_type_cast == 1
    = link_to "出品を再開する",change_trading_status_items_path(@item), class:"btn-default btn-red"
  - else
    = link_to "出品を一旦停止する",change_trading_status_items_path(@item), class:"btn-default btn-gray"
  / モーダルウィンドウを開くボタン
  = link_to "この商品を削除する","#item-delete", class:"modal-open-btn btn-default btn-gray"
  / モーダルウィンドウ
  #item-delete.modal
    / モーダルウィンドウが開いている時のオーバーレイ
    .modal--overlay.modalClose
    / モーダルウィンドウの中身
    .modal--inner
      .modal--body
        .modal--head
          確認
        削除すると二度と復活できません。
        %br>/
        削除する代わりに停止することもできます。
        %br/
        %br>/
        本当に削除しますか？
        %br/
      = link_to "キャンセル","", class:"modal-close-btn"
      = link_to "削除する", item_path(@item), method: :delete, class: 'item-delete-btn'