- if user_signed_in? && @seller.id != current_user.id
  .details-item-button__container.clearfix
    .details-item-button__left
      - if @like
        = button_tag "", type: "button", name: "like", class: "item-button item-button-like liked" ,data: {item: "#{@item.id}"} do
          %i.fa.fa-heart
          %span いいね！
          %span{ class: "fade-in-down like_count", data: {num: "like"} } #{@like_counts}
      - else
        = button_tag "", type: "button", name: "like", class: "item-button item-button-like unliked", data: {item: "#{@item.id}"}  do
          %i.fa.fa-heart
          %span いいね！
          %span{ class: "fade-in-down like_count", data: {num: "like"} } #{@like_counts}
      = button_tag "",  class: "item-button item-button-report clearfix", data: {open: "modal"}, data: {modal: "report-item"} do
        %i.fa.fa-flag
        %span 不適切な商品の報告
        %input{ type: "hidden"}
        %input{ type: "hidden"}
        %input{ type: "hidden"}
    .details-item-button__right
      = link_to "https://www.mercari.com/jp/safe/description/", target: "_blank" do
        %i.fa.fa-lock
        %span あんしん・あんぜんへの取り組み