%section.search-items__box
  = link_to  item_path(item), method: :get do
    %figure.search-items__box__photo
      - if item.trading_status == "complete"
        = image_tag "soldout_tag.png", class: "photo-main--soldout"
        = image_tag item.item_images.first.image_url.url, class: "search-items__box__photo--size"
      -else
        = image_tag item.item_images.first.image_url.url, class: "search-items__box__photo--size"

    .search-items__box__body
      %h3.search-items__box__name
        = item.name
        .search-items__box__num
          .search-items__box__price
            ¥#{item.price}
          .search-items__box__icon
            = fa_icon 'heart', class: "icon-like-border"
            %span 14