= search_form_for @q, url:search_items_path do |f|
  .form-group
    .search-select-wrap
      .search-select-wrap__icon.fas.fa-chevron-down
      = f.select(:sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' }, { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )
  .search-dropdown-content.search-extend{"data-dropdown": "content", "data-dropdown-content-id": "extend"}
    %h3.visible-large
      詳細検索
    .search-form-group
      %lavel
        %i.fas.fa-plus
        %span
          キーワードを追加する
      = f.search_field:name_cont, placeholder:"商品名など", class:"search-input-default"
    .search-form-group#category-search-form-group
      %lavel
        %i.fas.fa-list-ul
        %span
          カテゴリーを選択する
        .search-select-wrap
          .search-select-wrap__icon.fas.fa-chevron-down
          = f.collection_select :category_id_eq, @categories, :id, :name, {prompt: "---"}, class: "search-input-default select", id: "ransack_category_id"
        #category_children
        #category_grandchildren
    .search-form-group
      %lavel
        %i.fas.fa-tags
        %span
          ブランド名から探す
          %input.search-input-default{ name: "keyword", placeholder: "まだ実装できてない", type: "text", value: ""}/
    .search-form-group
      %lavel
        %i.fas.fa-expand
        %span
          サイズを指定する
        .search-select-wrap{"data-search": "parent"}
          .search-select-wrap__icon.fas.fa-chevron-down
          %select.search-input-default.select{name: "size_group"}
            %option{value: ""} まだ実装できてない
    .search-form-group
      %lavel
      %i.fas.fa-coins
      %span
        価格
      .search-select-wrap
        .search-select-wrap__icon.fas.fa-chevron-down
        %select.search-input-default.select
          %option{value: "def0"}
            ここはハリボテです
          %option{value: "one"}
            300~1000
          %option{value: "two"}
            1000~5000
          %option{value: "three"}
            5000~10000
          %option{value: "four"}
            10000~30000
          %option{value: "five"}
            30000~50000
          %option{value: "six"}
            50000~
      .search-select-wrap.half
        = f.search_field:price_gteq, placeholder: "¥Min", class:"search-input-default price"
        %span ~
        = f.search_field:price_lteq, placeholder: "¥Max", class:"search-input-default price"
    .search-form-group
      %lavel
      %i.fas.fa-star
      %span
        商品の状態
      .search-select-wrap
        .search-select-wrap__icon.fas.fa-chevron-down
        = f.select :condition_eq_any, Item.conditions.map{|k,v| [Item.conditions_i18n[k], v]},{ include_blank: '全て' }
    .search-form-group
      %label
      %i.fas.fa-truck-moving
      %span
        配送料の負担
      .search-select-wrap
        .search-select-wrap__icon.fas.fa-chevron-down
        = f.select :shipping_fee_burden_eq_any, Shipping.fee_burdens.map{|k,v| [Shipping.fee_burdens_i18n[k], v]},{ include_blank: '全て' }
    .search-form-group
      %label
        %i.fas.fa-shopping-cart
        %span
          販売状況
        .search-select-wrap
          .search-select-wrap__icon.fas.fa-chevron-down
          = f.select :trading_status_eq_any, Item.trading_statuses.map{|k,v| [Item.trading_statuses_i18n[k], v]},{ include_blank: '全て' }
    .search-extend-btn
      = f.button "クリア", type: :reset, class:"btn-default btn-gray search-btn"
      = f.submit "完了", class: "btn-default btn-red search-btn"