= render 'layouts/header'

.default-container
  %main.contents{role: "main"}
    %section.upper-content
      .upper-content__box
        .upper-content__box__inside{ style: "left: -3600px; width: 7200px;"}
          .upper-content__box__inside__outer-frame{ style: "width: 1200px;"}
            .upper-content__box__inside__inner__frame
              .main__visual
                .main__visual__box
                  .main__visual__box__content
                    %h2.main__visual__box__content__heading
                      スマホでかんたん
                      %br
                      フリマアプリ
                    %p.main__visual__box__content__paragraph
                      メルカリはスマホカメラからすぐに出品できる
                      %br
                      購入時も安心な独自システムのアプリです
                    .main__visual__store
                      =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: "main__visual__store__icon main__visual__store__icon--AppStore" do
                        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983", width: "170", height: "50.36"
                      = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "main__visual__store__icon main__visual__store__icon--GooglePlay" do
                        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983", width: "170", height: "50.36"
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983", width: "440", height: "390", class: "mobile-phone-image"
      .owl__nav
        .owl__nav--prev
        .owl__nav--next
      .owl__dots
        .owl__dot
          %span
        .owl__dot.owl__dot--active
          %span
    %section.pickup__container
      %h2.pickup__container__title ピックアップカテゴリー
      %section.items
        %h3.items__heading
          = link_to "#" do
            レディース 新着アイテム
        .items__boxs
          = render partial: 'items/partial/item_box', collection: @items, as:'item'
        .view__all
          =link_to "すべての商品を見る","https://www.mercari.com/jp/category/1/"
      %section.items
        %h3.items__heading
          =link_to "/jp/category/1/" do
            メンズ 新着アイテム
        .items__boxs
          = render partial: 'items/partial/item_box', collection: @items, as:'item'
        .view__all
          =link_to "すべての商品を見る", "https://www.mercari.com/jp/category/1/"
      = render 'layouts/footer'

