= render 'layouts/header'
.details-item-box__container
  %h1.details-item-name
    = @item.name
  .details-item__main-content.clearfix
    .details-item-photo
      .owl-carousel
        .owl-stage-outer
          .owl-stage
            .owl-item.active{style: "width: 300px;"}
              .owl-item-inner
                - if @item.trading_status == "complete"
                  = image_tag "soldout_tag.png", class: "photo-main--soldout"
                  = image_tag @item.item_images.first.image_url.url
                - else
                  = image_tag @item.item_images.first.image_url.url

    %table.details-item__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to '/' do
              = @seller.nickname
            .div
              .item-user-ratings
                %i.fa.fa-smile
                %span 32
              .item-user-ratings
                %i.fa.fa-meh
                %span 1
              .item-user-ratings
                %i.fa.fa-frown
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to category_path(@item.category.root) do
              .div
                = @item.category.root.name
            - if @item.category.root == @item.category.parent
              = link_to category_path(@item.category)  do
                .details-item__table__sub-category1
                  %i.fa.fa-chevron-right
                  = @item.category.name
            - else
              = link_to category_path(@item.category.parent) do
                .details-item__table__sub-category1
                  %i.fa.fa-chevron-right
                  = @item.category.parent.name
              = link_to category_path(@item.category) do
                .details-item__table__sub-category2
                  %i.fa.fa-chevron-right
                  = @item.category.name
        - if @item.size
          %tr
            %th サイズ if @item.size
            %td
              = @item.size.kind
        %tr
          %th ブランド
          %td
            = link_to "#" do
              = @item.brand.name if @item.brand
        %tr
          %th  商品の状態
          %td
            = @item.condition_i18n
        %tr
          %th  配送料の負担
          %td
            = @item.shipping.fee_burden_i18n
        %tr
          %th 配送の方法
          %td
            = @item.shipping.service_i18n
        %tr
          %th 配送元地域
          %td
            = Prefecture.find(@item.shipping.area).name
        %tr
          %th 発送日の目安
          %td
            = @item.shipping.handling_time_i18n
  .details-item__price-box.text-center
    %span.details-item-price.bold
      ¥#{@item.price}
    %span.item-tax （税込）
    %span.item-shipping-fee
      = @item.shipping.fee_burden_i18n[/送料込み|着払い/]
  -# 出品者は自分の商品は購入できない/売り切れ商品は購入できない条件分岐
  - if user_signed_in?
    = render 'items/partial/user_logged_in'
  - else
    = link_to new_user_session_path, class: "item-buy-btn" do
      購入画面に進む
  .item-description.f14z
    %p.item-description__inner
      = simple_format(h(@item.text))
  = render 'items/partial/item_buttons'
= item_status_edit_or_item_comment?
= render 'items/partial/item_suggestion'
= render 'items/partial/sns_links'
= render 'items/partial/item_bottom_purchase-button'
= render 'layouts/footer'