= render 'layouts/header'
.details-item-box__container
  %h1.details-item-name
    =@item.name
  .details-item__main-content.clearfix
    .details-item-photo
      .owl-carousel
        .owl-stage-outer
          .owl-stage
            .owl-item.active{style: "width: 300px;"}
              .owl-item-inner
                - if @item.trading_status == "complete"
                  = image_tag "soldout_tag.png", class: "photo-main--soldout"
                  = image_tag @item.item_images.first.image_url.url
                - else
                  = image_tag @item.item_images.first.image_url.url

    %table.details-item__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to '/' do
              =@seller.nickname
            .div
              .item-user-ratings
                %i.fa.fa-smile
                %span 32
              .item-user-ratings
                %i.fa.fa-meh
                %span 1
              .item-user-ratings
                %i.fa.fa-frown
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to "#" do
              .div (仮)レディース
            = link_to "#" do
              .details-item__table__sub-category1
                %i.fa.fa-chevron-right
                (仮)バッグ
            = link_to "#" do
              .details-item__table__sub-category2
                %i.fa.fa-chevron-right
                (仮)ショルダーバッグ
        %tr
          %th ブランド
          %td
            = link_to "#" do
              (仮)フォーエバートゥエンティーワン
        %tr
          %th  商品の状態
          %td
            =@item.condition
        %tr
          %th  配送料の負担
          %td
            =@item.shipping.fee_burden
        %tr
          %th 配送の方法
          %td 未定
        %tr
          %th 配送元地域
          %td
            =@item.shipping.area
        %tr
          %th 発送日の目安
          %td
            =@item.shipping.handling_time
  .details-item__price-box.text-center
    %span.details-item-price.bold
      ¥#{@item.price}
    %span.item-tax （税込）
    %span.item-shipping-fee (仮)送料込み
  -# 出品者は自分の商品は購入できない/売り切れ商品は購入できない条件分岐
  - if user_signed_in?
    - if @item.seller_id == current_user.id
      %button#item-delete.modal-open-btn.btn-default.btn-gray
        #{@seller.nickname}さんが出品した商品です。
    -elsif @item.trading_status == "complete"
      %button#item-delete.modal-open-btn.btn-default.btn-gray
        売り切れました。
    - else
      = link_to confirmation_items_path, class: "item-buy-btn" do
        購入画面に進む
  .item-description.f14z
    %p.item-description-inner
      =@item.text


  .details-item-button__container.clearfix
    .details-item-button__left
      = button_tag "", type: "button", name: "like", data: {toggle: "like"}, data: {id: "m32062559021"}, data: {ga: "element"}, data: {'ga-category': "LIKE"}, class: "item-button item-button-like is-liked" do
        %i.fa.fa-heart
        %span いいね！
        %span{ class: "fade-in-down", data: {num: "like"} } 2
      = button_tag "",  class: "item-button item-button-report clearfix", data: {open: "modal"}, data: {modal: "report-item"} do
        %i.fa.fa-flag
        %span 不適切な商品の報告
        %input{ type: "hidden"}
        %input{ type: "hidden"}
        %input{ type: "hidden"}
    .details-item-button__right
      = link_to "https://www.mercari.com/jp/safe/description/", target: "_blank" do
        %i.fa.fa-lock
        %span あんしん・あんぜんへの取り組み

= seller_user?

%ul.details-item__link.clearfix
  %li.details-item__link__prev
    =link_to "#" do
      %i.fa.fa-angle-left
      ウォール KM2 SPEED ペット用バリカン
  %li.details-item__link__next
    = link_to "#"  do
      プティマイン トップス 90 記名あり
      %i.fa.fa-angle-right
.details-item__social-media__boxs
  .text-center
  %ul.details-item__social-media__box
    %li
      = link_to "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm32062559021%2F", target: "_blank", class: "share-btn", data: {'window-name': "facebook_window"} do
        %i.fa.fa-facebook-square
    %li
      = link_to "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm32062559021%2F&text=%E3%82%B7%E3%83%A7%E3%83%AB%E3%83%80%E3%83%BC%E3%83%90%E3%83%83%E3%82%B0%20%28%C2%A51%2C200%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm32062559021%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", target:"_blank", class: "share-btn", data: { 'window-name': "twitter_window" } do
        %i.fa.fa-twitter-square
    %li.details-item__social-hidden
      = link_to "http://line.me/R/msg/text/?ショルダーバッグ%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m32062559021/", target: "_blank" do
        %i.fab.fa-line
    %li
      = link_to "http://line.me/R/msg/text/?ショルダーバッグ%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m32062559021/", target: "_blank" do
        %i.fa.fa-pinterest-square
-if user_signed_in?
  - if @item.seller_id == current_user.id || @item.trading_status == "complete"
  -else
    .visible-sp
      .details-item__float-btn
        = link_to confirmation_items_path, class: "item-buy-btn" do
          購入画面にすすむ
= render 'layouts/footer'