= render 'layouts/header'
- breadcrumb :card
= render 'layouts/breadcrumbs'
%main.container.clearfix
  .my-content
    .card
      %h2.card__head 支払い方法
      .card__content
        %section
          .card__single-content
            %h3.card__sub-head クレジットカード一覧
          %ul.settings-payment-list
        %section.card__settings-add-card
          .card__single-content.card__button
            = link_to "https://www.mercari.com/jp/mypage/card/create/" do
              .card__icon.fas.fa-credit-card
              クレジットカードを追加する
        .card__settings-not-regist
          = link_to "/jp/help_center/category/6/" do
            支払い方法について
            .fas.fa-chevron-right

  = render 'mypage/shared/sidemenu'