- breadcrumb :purchased
%main.container.clearfix
  .my-content
    .id-chapter
      .id-chapter__head 本人情報の登録
      = form_with model: @user, class: "id-form" do |f|
        %p
          お客さまの本人情報をご登録ください。
          %br>/
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .id-form--text-right
            = link_to "#" do
              本人確認書類のアップロードについて
              .fas.fa-chevron-right
          .id-form-group
            = f.label "お名前"
            %p 加山 雄三
          .id-form-group
            = f.label "お名前カナ"
            %p カヤマ ユウゾウ
          .id-form-group
            = f.label "生年月日"
            %p 2000/07/31
          .id-form-group
            = f.label "郵便番号"
            %span.id-form-group__arbitrary 任意
            = f.text_field :zip_code, placeholder: "例）1234567", type: "text", class: "id-form-group__input-default"
          .id-form-group
            = f.label "都道府県"
            %span.id-form-group__arbitrary 任意
            .id-form-group__select-wrap
              %i.id-form-group__select-wrap--icon-bottom
              %select.id-form-group__select-wrap--select-default{name:"prefecture"}
                %option --
                %option 北海道
                %option 青森県
                %option 岩手県
                %option 宮城県
                %option 秋田県
                %option 山形県
                %option 福島県
                %option 東京都
                %option 神奈川県
                %option 埼玉県
                %option 千葉県
                %option 茨城県
                %option 栃木県
                %option 群馬県
                %option 山梨県
                %option 新潟県
                %option 長野県
                %option 富山県
                %option 石川県
                %option 福井県
                %option 愛知県
                %option 岐阜県
                %option 静岡県
                %option 三重県
                %option 大阪府
                %option 兵庫県
                %option 京都府
                %option 滋賀県
                %option 奈良県
                %option 和歌山県
                %option 鳥取県
                %option 島根県
                %option 岡山県
                %option 広島県
                %option 山口県
                %option 徳島県
                %option 香川県
                %option 愛媛県
                %option 高知県
                %option 福岡県
                %option 佐賀県
                %option 長崎県
                %option 熊本県
                %option 大分県
                %option 宮崎県
                %option 鹿児島県
                %option 沖縄県
          .id-form-group
            = f.label "市区町村"
            %span.id-form-group__arbitrary 任意
            = f.text_field :city, placeholder: "例) 横浜市緑区", type: "text", class: "id-form-group__input-default"
          .id-form-group
            = f.label "番地"
            %span.id-form-group__arbitrary 任意
            = f.text_field :address1, placeholder: "例) 青山1−1−1", type: "text", class: "id-form-group__input-default"
          .id-form-group
            = f.label "建物名"
            %span.id-form-group__arbitrary 任意
            = f.text_field :address2, placeholder: "例) 柳ビル103", type: "text", class: "id-form-group__input-default"
          = f.submit "登録する", class:"id-btn-default id-btn-default--btn-red" 
          .id-form-group.id-form-group--text-right
            = link_to "#" do
              本人情報の登録について
              .fas.fa-chevron-right
  = render 'mypage/shared/sidemenu'
