= render 'layouts/header'
- breadcrumb :like
= render 'layouts/breadcrumbs'

%main.container.clearfix
  .my-content
    .id-chapter
      %h2.id-chapter__head いいね！一覧
      = render 'listings/shared/listings-content'
    = paginate(@items)
  = render 'mypage/shared/sidemenus/sidemenu'