= render 'layouts/header'
- breadcrumb :notification
= render 'layouts/breadcrumbs'
%main.container.clearfix
  .my-content
    %section.notification-todo
      .mypage-tab
        #active-tab.mypage-tab__item お知らせ
        = link_to 'やることリスト',todo_mypage_index_path , class:"mypage-tab__item",id: "todo"
        %ul#notification-content.mypage-content__list
          - if notifications ==[]
            .mypage-content__not-found
              現在、お知らせはありません
          - else
            = render partial:'mypage/shared/tabs/contents/notification', collection: notifications, as:'notification'

  = render 'mypage/shared/sidemenus/sidemenu'