= render 'layouts/header'
- breadcrumb :purchase
= render 'layouts/breadcrumbs'
%main.container.clearfix
  .my-content
    %section.purchase-purchased
      .mypage-tab
        #active-tab.mypage-tab__item 取引中
        = link_to '過去の取引',purchased_mypage_index_path, class:"mypage-tab__item",id: "purchased"
        %ul#purchase-content.mypage-content__list
          - if purchases ==[]
            .mypage-content__not-found
              取引中の処品はありません
          - else
            = render partial:'mypage/shared//tabs/contents/purchase', collection: purchases, as:'purchase'
  = render 'mypage/shared/sidemenus/sidemenu'