= render 'layouts/header'
- breadcrumb :todo
= render 'layouts/breadcrumbs'
%main.container.clearfix
  .my-content
    %section.notification-todo
      .mypage-tab
        = link_to 'お知らせ',notification_mypage_index_path , class:"mypage-tab__item",id: "notification"
        #active-tab.mypage-tab__item やることリスト
        %ul#todo-content.mypage-content__list
          - if todos ==[]
            .mypage-content__not-found
              現在、やることリストはありません
          - else
            = render partial:'mypage/shared/tabs/contents/todo', collection: todos, as:'todo'
  = render 'mypage/shared/sidemenus/sidemenu'