%header.pc-header
  .pc-header__box
    .pc-header__box__top
      %h1
        = link_to "https://www.mercari.com/jp/" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2787198863", alt: "mercari", width: "134", height: "36"
      %form.pc-header__box__form
        %input.pc-header__box__form__input-box{ type: "search", name: "keyword", placeholder: "何かお探しですか？", kl_vkbd_parsed: "true" }
        = fa_icon 'search', class: 'icon-search'
    .pc-header__nav-box
      %nav.pc-header__nav-box__left
        %ul.pc-header__nav-box__left__menu
          %li.pc-header__nav-box__left__menu__list
            %h2.pc-header__nav-box__left__menu__list__search
              = render 'layouts/multinav-categories'
            %ul.pc-header__nav-box__left__menu{ data: {mega: "1"}, style: "width: auto;"}
          %li.pc-header__nav-box__left__menu__list.pc-header__nav-box__left__menu__list--second
            %h2.pc-header__nav-box__left__menu__list__search
              =link_to "https://www.mercari.com/jp/brand/", class: "pc-header__nav-root.list-parent" do
                = fa_icon 'tag', class: 'icon-tag'
                %spanブランドから探す
      .pc-header__nav-box__right
        %ul.pc-header__nav-box__right__menu
          - if user_signed_in?
            %li.pc-header__nav-box__right__menu__list
              =link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "pc-header__nav__btn pc-header__nav__btn--red"
          %li.pc-header__nav-box__right__menu__list
            =link_to "新規会員登録", step1_signup_index_path, class: "pc-header__nav__btn pc-header__nav__btn--red"
          %li.pc-header__nav-box__right__menu__list
            =link_to "ログイン", new_user_session_path, class: "pc-header__nav__btn pc-header__nav__btn--login"
