%header.pc-header
  .pc-header__box
    .pc-header__box__top
      %h1
        = link_to root_path do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2787198863", alt: "mercari", width: "134", height: "36"
      %form.pc-header__box__form
        %input.pc-header__box__form__input-box{ type: "search", name: "keyword", placeholder: "何かお探しですか？", kl_vkbd_parsed: "true" }
        = fa_icon 'search', class: 'icon-search'
    .pc-header__nav-box
      %nav.pc-header__nav-box__left
        %ul.pc-header__nav-box__left__menu
          %li.pc-header__nav-box__left__menu__list
            %h2.pc-header__nav-box__left__menu__list__search
          .nav-category
            .category-title
              = link_to category_index_path  do
                .category-title
                  = fa_icon 'list', class: 'icon-list'
                  %span カテゴリーから探す
                  %ul.category-1
                    = render partial: 'partial/accordion-level1', collection: @categories, as: "level1"
            %ul.pc-header__nav-box__left__menu{ data: {mega: "1"}, style: "width: auto;"}
          %li.pc-header__nav-box__left__menu__list.pc-header__nav-box__left__menu__list--second
            %h2.pc-header__nav-box__left__menu__list__search
              = link_to "/", class: "pc-header__nav-root.list-parent" do
                = fa_icon 'tag', class: 'icon-tag'
                %spanブランドから探す
      .pc-header__nav-box__right
        %ul.pc-header__nav-box__right__menu
          - if user_signed_in?
            %li.login-pc-header__nav-box__right__menu__list
              = link_to "#", class: "header-svg-config header-svg-hover" do
                %svg{ aria: {hidden: "true"}, width:"14", height: "16", viewBox: "0 0 14 16", class: "header-bell header-svg-hover"}
                  %path{fill: "currentColor", fill:{rule: "nonzero"}, d: "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z"}
                お知らせ
            %li.login-pc-header__nav-box__right__menu__list
              = link_to "#", class: "header-svg-config header-svg-hover" do
                %svg{ aria: {hidden: "true"}, width: "21", height: "16", viewBox: "0 0 21 16", class: "sc-dxgOiQ sc-bwCtUz header-point header-svg-hover"}
                  %path{ fill: "currentColor", fill: {rule: "nonzero"}, d: "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z"}
                やることリスト
            %li.login-pc-header__nav-box__right__menu__list
              = link_to mypage_index_path, class: "header-svg-config header-svg-hover" do
                = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "sc-gwVKww header-face ")
                マイページ
          - else
            %li.pc-header__nav-box__right__menu__list
              = link_to "新規会員登録", step1_signup_index_path, class: "pc-header__nav__btn pc-header__nav__btn--red"
            %li.pc-header__nav-box__right__menu__list
              = link_to "ログイン", new_user_session_path, class: "pc-header__nav__btn pc-header__nav__btn--login"
%header.responsive-header
  .pc-header__box
    .pc-header__box__top
      = link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2787198863", alt: "mercari", width: "134", height: "36"
      .pc-header__nav-box__right
        %ul.pc-header__nav-box__right__menu
          - if user_signed_in?
            %li.login-pc-header__nav-box__right__menu__list
              = link_to "#", class: "header-svg-config header-svg-hover" do
                %svg{ aria: {hidden: "true"}, width:"14", height: "16", viewBox: "0 0 14 16", class: "header-bell header-svg-hover"}
                  %path{fill: "currentColor", fill:{rule: "nonzero"}, d: "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z"}
            %li.login-pc-header__nav-box__right__menu__list
              = link_to "#", class: "header-svg-config header-svg-hover" do
                %svg{ aria: {hidden: "true"}, width: "21", height: "16", viewBox: "0 0 21 16", class: "sc-dxgOiQ sc-bwCtUz header-point header-svg-hover"}
                  %path{ fill: "currentColor", fill: {rule: "nonzero"}, d: "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z"}
            %li.login-pc-header__nav-box__right__menu__list
              = link_to "#", class: "header-svg-config header-svg-hover" do
                = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "sc-gwVKww header-face ")
          - else
            %li.pc-header__nav-box__right__menu__list
              = link_to "新規会員", step1_signup_index_path, class: "pc-header__nav__btn pc-header__nav__btn--red"
            %li.pc-header__nav-box__right__menu__list
              = link_to "ログイン", new_user_session_path, class: "pc-header__nav__btn pc-header__nav__btn--login"
  .responsive-form
    %form.pc-header__box__form
      %input.pc-header__box__form__input-box{ type: "search", name: "keyword", placeholder: "何かお探しですか？", kl_vkbd_parsed: "true" }
      = fa_icon 'search', class: 'icon-search'
  .pc-header__nav-box
    %nav.pc-header__nav-box__left
      %ul.pc-header__nav-box__left__menu
        %li.pc-header__nav-box__left__menu__list
          %h2.pc-header__nav-box__left__menu__list__search
          .nav-category
            .category-title
              = link_to category_index_path  do
                .category-title
                  = fa_icon 'list', class: 'icon-list'
                  %span カテゴリーから探す
                  %ul.category-1
                    = render partial: 'partial/accordion-level1', collection: @categories, as: "level1"
          %ul.pc-header__nav-box__left__menu{ data: {mega: "1"}, style: "width: auto;"}
        %li.pc-header__nav-box__left__menu__list.pc-header__nav-box__left__menu__list--second
          %h2.pc-header__nav-box__left__menu__list__search
            = link_to "/", class: "pc-header__nav-root.list-parent" do
              = fa_icon 'tag', class: 'icon-tag'
              %spanブランドから探す